<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>运营中台</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
</head>
<body>
    <div class="login-all">
        <div class="login-title">湖北省“一事联办”系统</div>
        <div class="login-form">
            <h4>用户登录</h4>
            <ul>
                <li><input type="text"></li>
                <li><input type="password"></li>
                <li><input type="button" value="登录"></li>
            </ul>
        </div>
    </div>
</body>
</html>